{# latestnode-latestnodes-block.html.twig #}
<div id="related_links">
  <ul>
    {% for node in latestnodes %}
      {% if node.url %}
        <li>{{ node.url }}</li>
      {% endif %}
    {% endfor %}

  </ul>
  {% for node in latestnodes %}
    {% if node.info %}
      {{ node.info }}<br>
    {% endif %}
  {% endfor %}

</div>
